{% extends "app/layout.html" %}

{% block content %}
<h1>Корзина</h1>
<div class="cart">
    {% if cart %}
    <ul>
        {% for item in cart %}
        <li>
            {{ item.product.name }} — {{ item.quantity }} × {{ item.product.price }} руб. = {{ item.quantity|floatformat:2|add:item.product.price }} руб.
            <form method="post" action="{% url 'increase_quantity' item.product.id %}" style="display: inline;">
                {% csrf_token %}
                <button class="button-cus" type="submit">+</button>
            </form>
            <form method="post" action="{% url 'decrease_quantity' item.product.id %}" style="display: inline;">
                {% csrf_token %}
                <button class="button-cus" type="submit">-</button>
            </form>
            <form method="post" action="{% url 'remove_from_cart' item.product.id %}" style="display: inline;">
                {% csrf_token %}
                <button class="button-cus" type="submit">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <p><strong>Итого:</strong> {{ total }} руб.</p>
    <form method="post" action="{% url 'clear_cart' %}">
        {% csrf_token %}
        <button class="button-cus" type="submit">Очистить корзину</button>
    </form>
    <form class="mt" method="post" action="{% url 'create_order' %}">
        {% csrf_token %}
        <button class="button-cus" type="submit">Оформить заказ</button>
    </form>
    {% else %}
    <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
<style>
    li {
        list-style: none;
    }

    .mt {
        padding-top: 10px;
    }
</style>
{% endblock %}