{% extends "app/layout.html" %}

{% block content %}
<h1>Детали заказа #{{ order.id }}</h1>
<p>Дата создания: {{ order.created_at }}</p>
<p>Тип заказа: {{ order.get_order_type_display }}</p>

<h2>Товары в заказе:</h2>
<table>
    <thead>
        <tr>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.cart.cartitem_set.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
         
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">В вашем заказе нет товаров.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="{% url 'cart' %}">Вернуться в корзину</a></p>
{% endblock %}